.alert {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: white;
}

.alert-success {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: white;
  background-color: #97ffb0;
}

.cefini {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: white;
  background-color: rgb(255, 139, 139);
}

.attention {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: white;
  background-color: rgb(97, 97, 7);
}

.message-info {
  font-size: 2.5rem;
  font-weight: bold;
  background-color: white;
  background-color: rgb(19, 19, 103);
}

.little-button {
  width: 80px;
  height: 38px;
  background-color: rgb(22, 55, 154);
  outline-style: dashed;
  border: 3px solid rgb(149, 76, 149);
}
.little-button:hover {
  background-color: #10276d;
  cursor: pointer;
}
.little-button:hover:active {
  background-color: #1c47c7;
}

.medium-button {
  width: 150px;
  height: 58px;
  background-color: transparent;
  outline-style: none;
  border: none;
}
.medium-button:hover {
  border: 3px solid black;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.medium-button:hover:active {
  border: none;
  background-color: rgba(26, 26, 26, 0);
}

.big-button {
  width: 350px;
  height: 78px;
  background-color: rgb(9, 178, 9);
  outline-style: double;
  border: 3px solid rgb(56, 45, 23);
}
.big-button:hover {
  background-color: #078107;
  cursor: pointer;
}
.big-button:hover:active {
  background-color: #0be30b;
}

.button {
  width: 100px;
  height: 50px;
  background-color: chocolate;
  outline: 1px solid black;
}
.button:hover {
  background-color: #a55318;
  cursor: pointer;
}
.button:hover:active {
  background-color: #e4843f;
  transform: rotate(180deg);
}

nav ul {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(150, 255, 255);
  list-style: square;
}
nav ul li {
  width: 100%;
  height: 4rem;
  text-align: right;
  border-top: 2px ridge white;
  margin: 0;
}
nav ul li a {
  color: rgb(252, 252, 252);
  text-decoration: underline;
  display: block;
}
nav ul li:hover {
  background-color: #63ffff;
  cursor: pointer;
}

@media screen and (min-width: 40em) {
  nav ul {
    background-color: rgb(223, 66, 225);
    flex-direction: row;
    border: 2px ridge black;
    justify-content: flex-end;
  }
  nav ul li {
    width: 5rem;
    height: 4rem;
    text-align: none;
    margin: 0;
    border-top: none;
  }
  nav ul li a {
    color: rgb(252, 252, 252);
    text-decoration: underline;
    display: inline;
  }
  nav ul li:hover {
    background-color: #cd21cf;
    cursor: pointer;
  }
}
@media screen and (min-width: 60em) {
  nav ul {
    background-color: rgb(51, 236, 0);
    flex-direction: row;
    border: 2px ridge black;
    justify-content: flex-start;
  }
  nav ul li {
    width: 5rem;
    height: 4rem;
    text-align: none;
    margin: 0;
    border-top: none;
  }
  nav ul li a {
    color: rgb(252, 252, 252);
    text-decoration: underline;
    display: inline;
  }
  nav ul li:hover {
    background-color: #28b900;
    cursor: pointer;
  }
}
.col + .col {
  margin-left: 3%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.off1 {
  margin-left: 14.1666666667%;
}

.off2 {
  margin-left: 31.3333333333%;
}

.off3 {
  margin-left: 48.5%;
}

.off4 {
  margin-left: 65.6666666667%;
}

.off5 {
  margin-left: 82.8333333333%;
}

.off6 {
  margin-left: 100%;
}

.s1 {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-basis: 14.1666666667%;
}

.s2 {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-basis: 31.3333333333%;
}

.s3 {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-basis: 48.5%;
}

.s4 {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-basis: 65.6666666667%;
}

.s5 {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-basis: 82.8333333333%;
}

.s6 {
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: flex-start;
  flex-basis: 100%;
}

.black {
  background-color: black;
}

.center {
  text-align: center;
}

.white-text {
  color: white;
}

.white {
  background-color: white;
}

/*ul:nth-child(1)
{
    list-style: none;
    display: inline;
}*/
menu,
main {
  display: block;
}

@media screen and (min-width: 601px) {
  .m1 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 14.1666666667%;
  }
  .m2 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 31.3333333333%;
  }
  .m3 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 48.5%;
  }
  .m4 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 65.6666666667%;
  }
  .m5 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 82.8333333333%;
  }
  .m6 {
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-start;
    flex-basis: 100%;
  }
}/*# sourceMappingURL=framework3.css.map */